<template>
  <div id="app" class="">
    <Nav />
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/plants">Plants</router-link>
    -->
    <router-view/>
  </div>
</template>
<script>
import Nav from './components/partials/Nav.vue';
 export default {
    name: 'app',
    components: {
      Nav,
  },
};
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
    .hero .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 30px;
  }
</style>

