<template>
  <div  class="admin">
        <div v-if="$store.state.user.authorized" class="section">
            <h2 class="subtitle">
              Welcome {{ $store.state.user.username }}, what do you wish to do?
            </h2>
            <div class="buttons is-centered">
                <b-button class="button  is-dark has-text-weight-bold" to="/adminPanel">
                Go to Admin Panel
                </b-button>
                <b-button class="button is-dark has-text-weight-bold" to="/newPlant">
                Add new plant specie
                </b-button>
            </div>
        </div>
        <div v-else>
        <p>You are not authorized to view this page</p>
    </div>
</div>
</template>