<template>
  <div class="home">
    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container">
          <p class="title">Welcome to Plant <em>Base</em>d!</p>
            <h2 class="subtitle">
              Sign up to create your plant <em>base</em> and take care of your house plants efficiently!
            </h2>
            <b-button v-if="!$store.state.user.authenticated" class="button is-size-3 is-dark has-text-weight-bold" to="/register">
              Sign Up
            </b-button>
            <b-button v-else class="button is-size-3 is-dark has-text-weight-bold" to="/myPlants">
              My Plants
            </b-button>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
  .hero {
    text-align: center;
  }
  .hero-body .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 30px;
  }


</style>

