<template>
  <div class="login">
              <h1 class="section title">Login to database!</h1>
        <div class="level-item has-text-centered">
          <div class="box has-background-light">
            <form @submit.prevent="login">
              <form-field v-model="username" :errors="errors.username ? errors.auth ? errors.username + errors.auth : errors.username : errors.auth ? errors.auth : null" label="Username" placeholder="Username e.g. User123" type="username"></form-field> 
              <form-field v-model="password" :errors="errors.password ? errors.auth ? errors.password + errors.auth : errors.password : errors.auth ? errors.auth : null" label="Password" placeholder="********" type="password"></form-field> 
              <div class="field">
                <p class="control">
                  <label class="checkbox">
                    <input type="checkbox" v-model="remember">
                    Remember me
                  </label>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-primary has-text-weight-bold">
                    Login
                  </button>
                </p>
              </div>
            </form>
            </div>
        </div>
   </div>
</template>

<script>
import Auth from "../services/Auth"
import FormField from '../components/FormField.vue';

export default {
  components: { FormField },
  name: "Login",
  data() {
    return {
      prevRoute: null,
      user: {
        username: '',
        email: '',
        authenticated: false,
        authorized: false
      },
      username: "",
      password: "",
      remember: false,
      errors: []
    };
  },
  beforeRouteEnter(to, from, next) {
  next(vm => {
    vm.prevRoute = from
  })},
  methods: {
  async login() {
    const body = {'username':this.username,'password':this.password,'remember':this.remember}
    if (this.prevRoute && this.prevRoute.path != '/logout' && this.prevRoute.path != '/register'){
      body["next"] = this.prevRoute.path
    }
    Auth.login(body)
      .then(response => {
        console.log(response.data.status)
        if (response.data.status != 200){
          this.errors = response.data.reason
          throw Error(JSON.stringify(response.data.reason))
        }
        this.user.username = response.data.username;
        this.user.email = response.data.email;
        this.user.authenticated = true;

        this.makeToast(null,'Logged in as ' + this.user.username, "Success")
        var url= ""
        if (response.data.next) {
          url = response.data.next
        }
        else{
          url = "/"
        }
        this.$store.commit("changeUser", this.user);
        console.log(url)
        window.location.href = url
      })
      .catch(e => {
          this.makeToast('danger',e.message, 'Failed')
          console.log(JSON.stringify(e));
        });
  },
    makeToast(variant = null, message = null, title=null) {
          this.$bvToast.toast(`${message || 'Failed'}`, {
            title: `${title || 'Failed'}`,
            variant: variant,
            autoHideDelay: 5000,
            appendToast: true
          })
        }

}
};
</script>
