<template>
  <div class="container">
        <strong>Thank you for using our app!</strong>
    <div class="section">
        <b-button class="button is-primary" href="/">
            Home
        </b-button>
  </div>
  </div>
</template>
<script>
export default {
    name: "Logout",
}
</script>