<template>
  <div id="plants container">
    <MyPlantsList />
  </div>
</template>
<script>
 import MyPlantsList from "../components/MyPlantsList.vue"
  export default {
    name: 'home',
    components: {
      MyPlantsList
    },
  };
</script>