<template>
  <div v-if="$store.state.user.authorized" id="addPlant">
    <div class="section">
      <h1 class="title">Add new plant specie to the database</h1>
    </div>
      <nav class="columns">
        <div class="column is-one-quarter is-offset-2">
        <form-field-file @upload="updatePhoto" :errors_ext="errors.photo" label="Featured Photo"  name="photo"></form-field-file> 
        </div>
         <div class="column is-one-third is-offset-1">
          <div class="box has-background-light">
          <!-- <div class="tile"> -->
            <form @submit.prevent="addNewPlant">
              <form-field v-model="type" :errors="errors.type" label="Type"  type="text"></form-field> 
              <form-field v-model="specie" :errors="errors.specie" label="Specie" type="text"></form-field> 
              <form-field-area v-model="description" :errors="errors.description" label="Description"  type="textarea"></form-field-area> 
              <form-field v-model="watering_weekly" :errors="errors.watering_weekly" label="Weekly amount of waterings"  type="float"></form-field> 
              <form-field v-model="diseases" :errors="errors.diseases" label="Diseases, comma separated"  type="text"></form-field> 
              <div class="field">
                <p class="control">
                  <button :class="success ? 'button is-primary is-outlined has-text-weight-bold' : 'button is-primary has-text-weight-bold'">
                    Add
                  </button>
                </p>
              </div>
            </form>
          </div> 
        </div>
      </nav>
   </div>
</template>

<script>
import Plants from "../services/Plants"
import FormField from '../components/FormField.vue';
import FormFieldArea from '../components/FormFieldArea.vue';
import FormFieldFile from '../components/FormFieldFile.vue';

export default {
  components: { FormField, FormFieldArea, FormFieldFile },
  name: "NewPlant",
  data() {
    return {
      type: "",
      specie: "",
      description: "",
      watering_weekly: "",
      diseases: "",
      photo: "",
      errors: [],
      msg: "",
      showPreview: false,
      success: false
    };
  },
  methods:{
    updatePhoto(ph){
      this.photo = ph
      console.log(this.photo)
    },
    async addNewPlant() {
        const body = {'type':this.type, 'specie':this.specie, 'description':this.description, 'watering_weekly':this.watering_weekly, "diseases":this.diseases, 'photo':this.photo}
        Plants.addPlant(body)
        .then(response => {
         
            console.log(response.data.status)
            if (response.data.status != 200){
                this.success = false
                this.errors = response.data.reason
                throw Error(JSON.stringify(response.data.reason))
            }
            else{
                this.errors = []
            }

            console.log(response)
            this.makeToast(null, response.data.message, "Success")
            this.msg = response.data.message
            this.success = true

              this.type= ""
              this.specie= ""
              this.description= ""
              this.watering_weekly= ""
              this.diseases= ""
              this.photo =""
              this.showPreview = false
        })
        .catch(e => {
            this.makeToast('danger',e.message, 'Failed')
            console.log(JSON.stringify(e));
            });
    },
        makeToast(variant = null, message = null, title=null) {
            this.$bvToast.toast(`${message || 'Failed'}`, {
                title: `${title || 'Failed'}`,
                variant: variant,
                autoHideDelay: 5000,
                appendToast: true
            })
        }
  }
};
</script>
