<template>
  <div id="plants container">
    <PlantsList />
  </div>
</template>
<script>
 import PlantsList from "../components/PlantsList.vue"
  export default {
    name: 'home',
    components: {
      PlantsList
    },
  };
</script>