<template>
  <div id="app">
    <div class="section">
      <h1 class="title">Register new user account</h1>
    <p v-if=success class="help is-success">{{ msg }}</p> 
    <b-button v-if="success" class="button is-primary has-text-weight-bold" to="login">
        Sign In
    </b-button>
    </div>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div class="box has-background-light">
          <!-- <div class="tile"> -->
            <form @submit.prevent="register">
              <form-field v-model="username" :errors="errors.username" label="Username" placeholder="Username e.g. User123" type="username"></form-field> 
              <form-field v-model="email" :errors="errors.email" label="Email" placeholder="Email e.g. test@domain.com" type="email"></form-field> 
              <form-field v-model="password" :errors="errors.password" label="Password" placeholder="********" type="password"></form-field> 
              <form-field v-model="confirm" :errors="errors.password" label="Confirm Password" placeholder="********" type="password"></form-field> 
              <div class="field">
                <p class="control">
                  <button :class="success ? 'button is-primary is-outlined has-text-weight-bold' : 'button is-primary has-text-weight-bold'">
                    Register
                  </button>
                </p>
              </div>
            </form>
          </div> 
        </div>
      </nav>
   </div>
</template>

<script>
import Auth from "../services/Auth"
import FormField from '../components/FormField.vue';

export default {
  components: { FormField },
  name: "Register",
  data() {
    return {
      user: {username: "", email: ""},
      username: "",
      password: "",
      confirm: "",
      email: "",
      success: false,
      errors: [],
      msg: ""
    };
  },
  methods:{
    async register() {
        const body = {'username':this.username,'password':this.password,'confirm':this.confirm,'email':this.email}
        Auth.register(body)
        .then(response => {
            console.log(response.data.status)
            if (response.data.status != 200){
                this.success = false
                this.errors = response.data.reason
                throw Error(JSON.stringify(response.data.reason))
            }
            else{
                this.errors = []
            }

            console.log(response)
            this.makeToast(null, response.data.msg, "Success")
            var url= ""
            this.msg = response.data.msg
            this.success = true
            if (response.data.next) {
            url = response.data.next
            }
            else{
            url = "/"
            }
            console.log(url)
        })
        .catch(e => {
            this.makeToast('danger',e.message, 'Failed')
            console.log(JSON.stringify(e));
            });
    },
        makeToast(variant = null, message = null, title=null) {
            this.$bvToast.toast(`${message || 'Failed'}`, {
                title: `${title || 'Failed'}`,
                variant: variant,
                autoHideDelay: 5000,
                appendToast: true
            })
        }
  }
};
</script>
