@charset "utf-8";

// Set your brand colors
$thistle: rgba(222, 197, 227, 1);
$celadon: rgba(161, 232, 175, 1);
$dark-sea-green: rgba(148, 197, 149, 1);
$st-patricks-blue: rgba(55, 39, 114, 1);
$dark-purple: rgba(58, 36, 73, 1);


// Update Bulma's global variables
$dark: $st-patricks-blue;
$primary: $thistle;
$light: $celadon;
$link: $dark-sea-green;
$info: $dark-purple;

//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $link;
$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";