<template>
  <nav id = "nav" class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-primary" href="/">
          <strong class="is-size-4"><col>Plant <em>Base</em>d</strong>
        </a>
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <router-link to="/" class="navbar-item">Home</router-link>
        <router-link to="/about" class="navbar-item">About</router-link>
        <router-link to="/plants" class="navbar-item">Plants</router-link>
        <router-link v-if="user.authenticated" to="/myPlants" class="navbar-item">My Plants</router-link>
        <router-link v-if="user.authorized" to="/admin" class="navbar-item">Admin</router-link>
      </div>
      <p>
      <div class="navbar-end">
        <strong  v-if=user.authenticated class="navbar-item">
          Welcome {{user.username}}!
        </strong>
        <div class='buttons' v-if="!user.authenticated">
          <div class="navbar-item">
            <b-button class="button is-light is-outlined " to="/register">
                  <strong>Sign Up</strong>
            </b-button>
          </div>
          <div class="navbar-item">
              <b-button class="button is-primary is-outlined" to="/login">
                    <strong>Sign In</strong>
              </b-button>
          </div>
        </div>
        <div v-else class="buttons">
          <div class="navbar-item">
              <b-button class="button is-primary is-outlined" v-on:click="Logout" to = "/logout">
                <strong>Logout</strong>
              </b-button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
  import Auth from "../../services/Auth"

  export default {
    name: 'Nav',
    data() {
      return {
        user: {
          username: '',
          email: '',
          authenticated: false,
          authorized: false
        },
      }
    },
    methods: {
      async isAuthorized(){
        Auth.isAuthorized()
        .then(response => {
          this.user.authorized = response.data.authorized ? true : false;
          this.$store.commit("changeUser", this.user)
          console.log(response.data)
        })
        .catch(e => {
            console.log(JSON.stringify(e));
          }
        )
      },
      async getUser(){
        Auth.getUser()
        .then(response => {
          console.log(response.data)
          if (response.data.status != 200 || response.status != 200){
            throw Error()
          }
          this.user.authenticated = response.data ? true : false;
          this.user.username = response.data.username
          this.user.email = response.data.email
          this.$store.commit("changeUser", this.user)
          console.log(this.$store.state.user)
        })
        .catch(e => {
            this.user.authenticated = false
            console.log(JSON.stringify(e));
          }
        )
      },
      async Logout(){
        Auth.logout()
        .then(response =>{
           console.log(response.data.next);
            if (response.data.status == 500){
                throw Error(response.data.reason)
            }
            if (response.data.next){
                window.location.href = response.data.next
            }
            this.user.email = ""
            this.user.username = ""
            this.user.authenticated = false
            this.user.authorized = false
            this.$store.commit("changeUser", this.user)
            //location.reload(true);
            console.log("logged out")
        })
        .catch(e => {
          console.log(JSON.stringify(e));
        });
        },
    },        
    async created () {
      await this.isAuthorized()
      await this.getUser()
      }
  }
</script>
<style lang="scss" scoped>
  nav {
    margin-top: 25px;
    margin-bottom: 30px;
    a {
      font-weight: bold;
    }
  }
</style>