<template>
<div class="disease-single column">
  <div class="">
    <div class="">
        <button :class="'button is-dark'.concat(active ? '' : 'is-outlined')" @click="active=!active">
        <span>{{disease.name}}</span>
        </button>
    </div>
      </div>
    <div v-if="active" class="box" >
        <div class="">
            <div class="box has-text-left ">
                     <strong>Description:</strong> {{disease.description}}
            </div>
            <div class="box has-text-left">
                <div class="">
                     <strong>Treatment:</strong> {{disease.treatment}}
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: "DiseaseSingle",
    props: ['disease'],
    data() {
    return {
        active: false,
    };
    },
  };

</script>
