<template>
<div id="disease-list" class="hero is-dark">
  <div class="title section">
    <strong>Diseases, pests and hazards:</strong>
  </div>
  <div
  v-for="disease in diseases"
  :disease="disease"
  :key="disease.id"
  class=""
  >
 <DiseaseSingle :disease="disease"/>

  </div>

</div>
</template>

<script>
    import DiseaseSingle from '@/components/DiseaseSingle'

    export default {
      name: 'DiseaseList',
      props: ['diseases'],
      components: {
        DiseaseSingle
      },
    }
  </script>