<template>
<div id="input" class="">
      <div v-if="previewImage">
      <div>
        <img class="preview my-3" :src="previewImage" alt="" />
      </div>
    </div>

<form @submit.prevent="upload">
<div class="file has-name is-centered">
  <label class="file-label">
    <input class="file-input" @change="selectImage" type="file" :name="name">
    <span class="file-cta">

      <span class="file-label">
        {{ label }}
      </span>
    </span>
    <span class="file-name">
      {{ currentImage ? currentImage.name : 'myfile.png' }}
    </span>
  </label>
</div>

    <div v-if="currentImage" class="level">
      Loading: 
      <progress
        class="progress is-info"
        :value="progress"
        min="0"
        max="100"
      >
        {{progress}}%
      </progress>
    </div>

    <!-- <button :class="success ? 'button is-primary is-outlined has-text-weight-bold' : 'button is-primary has-text-weight-bold'">
          Upload Photo
    </button> -->

  <p v-for="error in errors" 
    :key=error
    class="help is-danger">{{ error }}</p> 


  <p v-for="error in errors_ext" 
    :key=error
    class="help is-danger">{{ error }}</p> 
</form>
</div>
</template>

<script>
import Plants from '../services/Plants'

  export default {
    name: "FormFieldFile",
    props: ['name', 'label', 'value', 'errors_ext'],
    data() {
      return {
        currentImage: undefined,
        previewImage: undefined,

        progress: 0,
        success: false,
        errors: [],

        path: '',
      }
    },
    methods: {
      selectImage(event) {
        console.log(event.target.files[0])
        this.currentImage = event.target.files[0]
        this.previewImage = URL.createObjectURL(this.currentImage);
        this.progress = 0;
        this.message = "";
        this.upload()
      },

      upload() {
        this.progress = 0;
        Plants.uploadImage(this.currentImage, (event) => {
          this.progress = Math.round((100 * event.loaded) / event.total);
          console.log(this.progress)
        })
          .then((response) => {
              console.log(response.data.status)
            if (response.data.status != 200){
                this.errors = response.data.reason.photo
                throw Error(JSON.stringify(this.errors))
            }
            else{
                this.errors = []
            }
            this.success = true
            this.path = response.data.path;
            this.$emit('upload', this.path)
          })
          .catch((err) => {
            this.progress = 0;
            this.message =  err;
            this.currentImage = undefined;
        });
      }
  }
}
</script>

