<template>
    <div class="field">
        <label class="label">{{ label }}</label>
        <div class="control">
            <input  v-bind:value="value" v-on:input="$emit('input', $event.target.value)" :class="'input '.concat(!errors ? 'is-primary' : 'is-danger')" :type="type" :placeholder="placeholder">
        </div>
        <p v-for="error in errors" 
            :key=error
            class="help is-danger">{{ error }}</p> 
    </div>
</template>

<script>
  export default {
    name: "FormField",
    props: ['errors', 'type', 'placeholder', 'label', 'value'],
  }
</script>