<template>
    <div class="field">
        <label class="label">{{ label }}</label>
        <div class="control">
            <textarea v-bind:value="value" v-on:input="$emit('input', $event.target.value)" :class="'textarea '.concat(!errors ? 'is-primary' : 'is-danger')" :type="type" :placeholder="placeholder"> </textarea> 
        </div>
        <p v-for="error in errors" 
            :key=error
            class="help is-danger">{{ error }}</p> 
    </div>
</template>

<script>
  export default {
    name: "FormFieldArea",
    props: ['errors', 'type', 'placeholder', 'label', 'value'],
  }
</script>

