<template>
  <div class="plant-card">
    <div class="card ">
      <div class="card-image">
        <figure class="image is-4by3">
          <img :src="plant.featuredImage" alt="Placeholder image">
        </figure>
      </div>
      <header class="card-header">
        <p class="card-header-title is-size-4 has-text-weight-bold is-centered">
          {{ plant.specie }}
        </p>
      </header>
        <div v-if="plant.date" class="card-content  is-size-6">
          <p class="has-text-left" > Added on <strong>{{new Date(plant.date).toDateString()}}</strong> </p>
        </div>
      <div class="card-footer">
        <div class="card-footer-item  is-size-6">
          <p class="plant-type">{{ plant.type }}</p>
          </div>

      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['plant'],
  };

</script>
