<template>
  <div id="plants">
    <section class="hero is-primary ">
      <div class="hero-body">
        <p class="title is-centered">View plant species in the database
          </p>
        </div>
        <form @submit.prevent="getPlants" class="section columns">
        <div class="control column is-offset-4 is-2">
            <input  v-model="search" class="input is-primary" type="string" placeholder="Search" >
        </div>
          <p class="control column is-2">
            <button class="button is-dark has-text-weight-bold">
              Search
            </button>
          </p>
        </form>
    </section>
    <div class="section">
    <div class="box has-background-light">
     <div v-if="plants.length > 0" class="columns  is-multiline">
      <div
          v-for="plant in plants"
          :plant="plant"
          :key="plant.id"
          class="column is-one-quarter"
        >
          <router-link :to="'/plant/' + plant.id">
            <PlantCard :plant="plant" />
          </router-link>
      </div>
     </div>
      <p v-else> No plants found. </p>
    </div>
    </div>
  </div>
</template>
<script>
  import PlantCard from '@/components/PlantCard';
  import Plants from '../services/Plants'

  export default {
    name: 'PlantsList',
    components: {
      PlantCard,
    },
    data() {
      return {
        plants: [
        ],
        search: ""
      };
    },
    methods: {
      async getPlants(){
        let data = this.search ? {"search": this.search} : ""
        this.plants = []
        Plants.getPlants(data)
          .then(response => {
            for (let i = 0; i <  response.data.length; i++) {
              var plant = response.data[i]
              plant["featuredImage"]  = Plants.getFeatured(plant['id'])
              this.plants.push(response.data[i])
            }
        })      
        .catch(e => {
          console.log(JSON.stringify(e));
        });
      },
  },
    async mounted() {
      await this.getPlants()
    }
  };
</script>