<template>
  <div class="plant-single ">
    <div :class="'modal has-overflow wrapper-modal '.concat(add_plant ? 'is-active ' : '')">
      <div class="modal-background" @click="add_plant=false"></div>
      <div class="modal-content">
         <button class="delete is-large" @click="add_plant=false"></button>
        <h1 class="title">Add plant to your plants</h1>
       
        <div class="section">
         <form-field-file @upload="updatePhoto" :errors_ext="errors.photo" label="Your plant photo"  name="photo"></form-field-file> 
        </div>

        <div class="section">
        <b-button class="button is-dark is-outlined" @click="addUserPlant">
          Add
        </b-button>
        </div>
    </div>
    </div>
    <div :class="'modal has-overflow wrapper-modal '.concat(photo_closeup ? 'is-active ' : '')">
      <div class="modal-background" @click="photo_closeup=false"></div>
      <div class="modal-content">
         <button class="delete is-large" @click="photo_closeup=false"></button>
        <p class="image">
          <img :src="closeup_photo" alt="">
        </p>
      </div>
    </div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{plant.specie}}</h1>
          <h2 class="subtitle ">{{plant.type}}</h2>
          <button v-if="$store.state.user.authenticated" class="button is-dark" @click="add_plant = true">
            Add to my plants
          </button>
        </div>
      </div>
    </section>
    <div class="section columns is-8">
      <div class="column is-one-third">
      <figure class="image is-fullwidth">
      <img :src="plant.featuredImage" @click="closeup(plant.featuredImage)" />
      </figure>
      </div>
    <div class="column event-content has-text-left">
      <div class="container">
        <p class="is-size-4 description has-text-justified">{{plant.description}}</p>
      </div>
      <div v-if="plant.watering_weekly >= 1" class="section has-text-weight-bold">Water {{plant.watering_weekly}} {{'time'.concat(plant.watering_weekly!=1 ? 's' : '') }} a week</div>
      <div v-else class="section has-text-weight-bold">Water once every  {{1/plant.watering_weekly}} weeks</div>
    </div>
    </div>
    <DiseaseList class="section has-text-left" :diseases="diseases"/>
        
        <div v-if="paths.length != 0" class="">
          <div class="hero  is-primary"><p class="hero-body title"> User submitted photos </p> </div>
          <div class="section">
          <div class="box has-background-light columns is-vcentered is-multiline ">
          <div
            v-for="path in paths"
            :path="path"
            :key="path"
            class="column  is-one-quarter"
          >
          <img class="has-background-primary img-fluid" :src="path" @click="closeup(path)">
          </div>
        </div>
          </div>
        </div>
  </div>
  
</template>
<script>
import Plants from "../services/Plants"
import DiseaseList from '@/components/DiseaseList'
import FormFieldFile from '../components/FormFieldFile.vue';

export default {
    components: {
      DiseaseList,
      FormFieldFile,
    },
    data() {
      return {
        plant: {specie:'',type:""},
        diseases: [],
        photo_closeup: false,
        add_plant: false,
        errors: [],
        photo: "",
        closeup_photo: "",
        msg: "",
        paths: []
      };
    },
    async mounted() {
      await this.getPlant(this.$route.params.id)
      await this.getDisease(this.$route.params.id)
      await this.getImagePaths(this.$route.params.id)
  },
    methods: {
      closeup(ph){
        this.photo_closeup = true,
        this.closeup_photo = ph
      },
      updatePhoto(ph){
        this.photo = ph
        console.log(this.photo)
      },
    async getPlant(id){
      Plants.getPlant({'id':id})
        .then(response => {
        var plant = response.data[0]
        plant["featuredImage"]  = Plants.getFeatured(plant['id'])
        this.plant = plant
      })      
      .catch(e => {
        console.log(JSON.stringify(e));
      });
    },
    async getImagePaths(id){
      this.paths = []
      Plants.getImagePaths({'id':id})
        .then(response => {
        for (let i = 0; i <  response.data['paths'].length; i++) {
          this.paths.push(response.data['paths'][i]['photo'])
        }
      })      
      .catch(e => {
        console.log(JSON.stringify(e));
      });
    },
    async getDisease(id){
      Plants.getDisease({'id':id})
        .then(response => {
        this.diseases = response.data
      })      
      .catch(e => {
        console.log(JSON.stringify(e));
      });
    },
    async addUserPlant() {
      const body = {'plant_id':this.$route.params.id, 'photo':this.photo}
      Plants.addUserPlant(body)
        .then(response => {
          if (response.data.status != 200){
              this.errors = response.data.reason
              throw Error(JSON.stringify(response.data.reason))
          }
          else{
              this.errors = []
          }

          console.log(response)
          this.makeToast(null, response.data.message, "Success")
          this.msg = response.data.message
          this.add_plant = false
      })
      .catch(e => {
          this.makeToast('danger',e.message, 'Failed')
          console.log(JSON.stringify(e));
          });
},
    makeToast(variant = null, message = null, title=null) {
        this.$bvToast.toast(`${message || 'Failed'}`, {
            title: `${title || 'Failed'}`,
            variant: variant,
            autoHideDelay: 5000,
            appendToast: true
        })
    }
},
};
</script>
<style lang="scss" scoped>
  .event-single {
    margin-top: 30px;
  }
  .hero {
    margin-bottom: 70px;
  }
  .event-images {
    margin-top: 50px;
  }
  .description {
    margin-bottom: 30px;
  }
.modal.has-overflow{
  position: fixed !important;
  overflow: auto !important;
  .modal-background{
    position: fixed !important
  };  .modal-content{
    padding: 10px !important;

  }
}
.img-fluid {
  height: auto !important;
  width: auto !important;
}
</style>